<!DOCTYPE html>
<html lang="es-mx">

<head>
  <title><%= title %>Pregunta</title>
  <%- include('includes/head.html')%>
</head>

<body class="mx-auto" style="width: 90%;">
  <%- include ('includes/navbar.html')%>

    <h3>¿Qué otros templating engines existen para node?</h3>

    <p>Pug, Haml, hbs, Squirrelly, Eta</p>

    <p>Obtenido de: <a href="https://expressjs.com/en/resources/template-engines.html">https://expressjs.com/en/resources/template-engines.html</a></p>

    <%- include('includes/footer.html') %>
</body>

</html>