<!DOCTYPE html>
<html lang="es-mx">

<head>
  <title><%= title %>Poema</title>
  <%- include('includes/head.html')%>
</head>

<body class="mx-auto" style="width: 90%;">
  <%- include ('includes/navbar.html')%>

    <h3 class="text-center">Nocturno en que nada se oye</h3>
    <br>
    <p class="text-center">En medio de un silencio desierto como la calle antes del crimen</p>
    <p class="text-center">sin respirar siquiera para que nada turbe mi muerte</p>
    <p class="text-center">en esta soledad sin paredes</p>
    <p class="text-center">al tiempo que huyeron los ángulos</p>
    <p class="text-center">en la tumba del lecho dejo mi estatua sin sangre</p>
    <p class="text-center">para salir en un momento tan lento</p>
    <p class="text-center">en un interminable descenso</p>
    <p class="text-center">sin brazos que tender</p>
    <p class="text-center">sin dedos para alcanzar la escala que cae de un piano invisible</p>
    <p class="text-center">sin más que una mirada y una voz</p>
    <p class="text-center">que no recuerdan haber salido de ojos y labios</p>
    <p class="text-center">¿qué son labios? ¿qué son miradas que son labios?</p>
    <p class="text-center">Y mi voz ya no es mía</p>
    <p class="text-center">dentro del agua que no moja</p>
    <p class="text-center">dentro del aire de vidrio</p>
    <p class="text-center">dentro del fuego lívido que corta como el grito</p>
    <p class="text-center">Y en el juego angustioso de un espejo frente a otro</p>
    <p class="text-center">cae mi voz</p>
    <p class="text-center">y mi voz que madura</p>
    <p class="text-center">y mi voz quemadura</p>
    <p class="text-center">y mi bosque madura</p>
    <p class="text-center">y mi voz quema dura</p>
    <p class="text-center">como el hielo de vidrio</p>
    <p class="text-center">como el grito de hielo</p>
    <p class="text-center">aquí en el caracol de la oreja</p>
    <p class="text-center">el latido de un mar en el que no sé nada</p>
    <p class="text-center">en el que no se nada</p>
    <p class="text-center">porque he dejado pies y brazos en la orilla</p>
    <p class="text-center">siento caer fuera de mí la red de mis nervios</p>
    <p class="text-center">mas huye todo como el pez que se da cuenta</p>
    <p class="text-center">hasta ciento en el pulso de mis sienes</p>
    <p class="text-center">muda telegrafía a la que nadie responde</p>
    <p class="text-center">porque el sueño y la muerte nada tienen ya que decirse.</p>
    <p class="text-end"> Por: Xavier Villaurrutia</p>

    <%- include('includes/footer.html') %>
</body>

</html>