<!DOCTYPE html>
<html lang="es-mx">

<head>
  <title>Laboratorio 14 | Login</title>
  <%- include('includes/head.html')%>
</head>

<body class="mx-auto" style="width: 90%;">

  <h1>Bienvenido al sitio de Alfredo</h1>
  <hr>

  <h4>Inicie sesión: </h4>

  <form action="/users/login" method="POST">
    <label for="nombre">Nombre de usuario: </label>
    <input type="text" name="nombre" required>
    <br>
    <label for="passwd">Constraseña: </label>
    <input type="password" name="passwd" required> 
    <br>
    <input type="submit" value="Enviar">
</form>

  <%- include('includes/footer.html') %>
</body>

</html>